@charset "UTF-8";
* {
    box-sizing: border-box; }

body {
    font-family: Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
    font-weight: 300; }

.container {
    margin: 0 auto;
    width: 900px;
    display: grid;
    grid-template-areas: "a a" "b c";
    grid-template-rows: 150px auto;
    grid-template-columns: 200px 1fr; }

.header {
    background: #479ef8;
    color: #ffffff;
    position: relative;
    grid-area: a; }

.header__title {
    margin: 0;
    padding: 0.67em 0; }

.header__nav {
    background: #65b739;
    position: absolute;
    width: 200px;
    height: 40px;
    top: 0;
    right: 0;
    text-align: center;
    /* centrage horizontal de texte */
    line-height: 40px;
    /* centrage vertical de texte si 1 seule ligne */ }

aside {
    background: #f59e48;
    grid-area: b; }
aside a {
    display: block;
    background: #f28418;
    height: 30px;
    margin: 0.67em 0;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    line-height: 30px; }

main {
    padding: 10px;
    grid-area: c; }

.breadcrumb {}

.breadcrumb_dark {
    background: darkslategrey;
    color: white;
}

.breadcrumb__item {
    text-decoration: none; }

.breadcrumb__item:not(:last-child)::after {
    content: '•';
    color: #000000;
    margin-left: 4px; }

.gallery {
    margin: 0.67em 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; }
.gallery > .image {
    background: #f28418;
    height: 140px; }
